---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture, Image } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Grid from "~/components/Grid.astro";
import Heading from "~/components/Heading.astro";
import WideImage from "~/components/WideImage.astro";
import ReviewSlider from "~/components/ReviewSlider.astro";

// Images
import PizzaHero from "~/assets/images/pizza-hero.png";
import grupo from "~/assets/images/grupo.png";
import cafe from "~/assets/images/cafe.jpeg";
import Pizza from "~/assets/images/pizza.png";
import Spaghetti from "~/assets/images/spaghetti.png";
import Fish from "~/assets/images/fish.png";
import DecorativeImage from "~/assets/images/pexels-shvetsa-5953523.jpg";
import reviewAuthors from "~/assets/images/review-authors.png";
import Dessert from "~/assets/images/dessert.png";
import Mussels from "~/assets/images/mussels2.png";
import brunch1 from "~/assets/images/brunch1.png";
import brunch2 from "~/assets/images/brunch2.png";
import brunch3 from "~/assets/images/brunch3.png";
---

<Layout title="Inicio" pageTitle="Inicio" description="Welcome to our restaurant!">
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="Mejores baristas de Cataluña tres años consecutivos y cuartos de España." />
				
				<h1 class="text-brand-brown">No es lo que ves, es lo que sientes.</h1>

				<p>
					
Somewhere se inspira en las cafeterías más famosas de Melbourne, Portland, Brooklyn (NY), Londres, Berlín o Copenhague. El denominador común de todas ellas es una oferta gastronómica atractiva, variada, saludable y de temporada, combinada con un café de extrema calidad.

Dos socios, una gran familia, así es el espíritu de Somewhere. Nuestro equipo, cualificado, con talento, genuino y dinámico, para quien el cliente es lo primero. No podríamos estar más orgullosos de todos ellos. 



				</p>
				<!-- <span class="text-brand-green font-medium">✔ We also deliver</span> -->

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/book">Reserva</Button>
					<ButtonCallUs />
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto, rounded-lg"}
					src={cafe}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>


	<Section class:list={"bg-white"}>
		<Heading>
			<h2 slot="heading-title" class="font-black text-brand-brown h2 mb-5">Los mejores Brunch de Sant Cugat!</h2>
			
		</Heading>
		
		<Grid>
			<div slot="grid-content-1">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={brunch1}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>

				</div>
			</div>

			<div slot="grid-content-2">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={brunch2}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>

				</div>
			</div>

			<div slot="grid-content-3">
				<div class="flex flex-col items-center prose text-center">
					<Picture
						class:list={"not-prose w-full h-auto"}
						src={brunch3}
						formats={["avif", "webp"]}
						alt="A description of my image."
					/>
					
				</div>
			</div>
			
		</Grid>
		<div class="mt-10 flex justify-center">
			<Badge title="Cocina abierta todo el día!" />
		</div>
		<div class="flex justify-center">
			<p class="text-[16px]">
				No hacemos reservas en horario de Cafeteria/Brunch, excepto para grupos de almenos 10 personas.
			</p>
			
		</div>
		<div class="flex justify-center mt-5">
			<Button url="/menu">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 20 20"
					fill="currentColor"
					class="size-5 inline-block"
					aria-hidden="true"
				>
					<path
						fill-rule="evenodd"
						d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
						clip-rule="evenodd"></path>
				</svg>
				Ver carta
			</Button>
			
		</div>
		
		
		
	</Section>

	<Section class:list={"bg-white mt-10"}>
		<Hero>
			<div slot="hero-content-left" class="prose lg:order-2">
				<h1 class="text-brand-brown">Menús de grupo</h1>

				<p>
					También ofrecemos menús de grupo para eventos especiales. Desde cenas de empresa hasta celebraciones
					familiares, nuestro equipo se encargará de que disfrutes de una experiencia inolvidable.
				</p>

				<p>
					Para más información, no dudes en contactar con nosotros.
				</p>

				<div class="mt-8">
					<Button url="/menu">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 20 20"
							fill="currentColor"
							class="size-5 inline-block"
							aria-hidden="true"
						>
							<path
								fill-rule="evenodd"
								d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd"></path>
						</svg>
						View menu
					</Button>
				</div>
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto, rounded-3xl"}
					src={grupo}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
				/>
			</div>
		</Hero>
	</Section>	
</Layout>
